html{
    background-color: aquamarine;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    
}

p { font-family: 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 50px;
}

h2 {
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
  }
  
  .image {
    padding-left: 20px;
    flex-basis: 40%
    
  }
  
  .text {
    font-size: 20px;
    font-family: 'Apple Chancery', cursive;
    padding-left: 20px;
  }

  .text2 {
    font-family: 'Apple Chancery', cursive;
    padding-right: 20px;
  }