html{
    background-color: aquamarine;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    
}

p { font-family: 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 50px;
}

h2 {
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
  }
  
  .text {
    font-size: 20px;
    font-family: 'Apple Chancery', cursive;
    padding-left: 20px;
  }

  .text2 {
    font-family: 'Apple Chancery', cursive;
    padding-right: 20px;
  }

body {
    width: 640px;
    margin: 0 auto;
}

.full-img {
    display: block;
    width: 640px;
    height: 360px;
}
.thumb-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.thumb-bar img {
    width: 20%;
    cursor: pointer;
}

.thumb-bar img:hover {
    opacity: 0.5
}
